/* 黑色主题 */
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #121212;
  color: #f2f2f2;
}

header {
  background: linear-gradient(45deg, #d32f2f, #e66465);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

header h1 {
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0;
}

main {
  padding: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

th,
td {
  padding: 15px 20px;
  text-align: left;
  border-bottom: 1px solid #444;
}

th {
  background-color: #222;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1px;
}

tr:hover {
  background-color: #1d1d1d;
}

footer {
  background-color: #333;
  padding: 20px;
  text-align: center;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
}

input,
select {
  background-color: #444;
  color: #f2f2f2;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  font-size: 16px;
}

button {
  background-color: #d32f2f;
  color: #f2f2f2;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #e66465;
}
